<div class="box" id="TopicsHot">
    <div class="cell"><span class="fade">Comments</span></div>
{#list commets }
    <div class="cell {{id}}">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody><tr>
                <td width="24" valign="middle" align="center">
                    <a href="/member/{{name}}"><img src="{{avatar}}" class="avatar" border="0" align="default" auto=""></a>
                </td>
                <td width="10"></td>
                <td width="auto" valign="middle">
                <span class="item_hot_topic_title">
                {{name}}:{{content}}
                </span>
                </td>
            </tr>
            </tbody></table>
    </div>

{/#list}
<form method="POST" action='/comment'>
    <div class="cell from_20464">
            <input type="hidden" value="{{line_id}}">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody><tr>
                    <td>
                        <textarea style="margin: 2px;height: 114px;width: 253px;"></textarea>
                        <div class="sep5"></div>
                        <input type="submit" value="回复" class="super normal button" style="float:right;">
                    </td>     </tr>

                </tbody></table>


    </div>

</form>

</div>
<div class="sep20"></div>



</div>