
<html lang="zh-CN"><head>
    <meta charset="UTF-8">
    <meta content="True" name="HandheldFriendly">
    <title>Vzi.US</title>
    <link rel="stylesheet" type="text/css" media="screen" href="http://vzius-back.stor.sinaapp.com/shared.css">
    <link rel="stylesheet" type="text/css" href="http://infoqhelp.sinaapp.com/static/css/bootstrap.css">
    <script src="/static/js/car.js"></script>
    <srcipt src="/static/js/carousel.js"></script>

    <link rel="shortcut icon" href="/favicon.ico">



    <script type="text/javascript">
    </script>
    <meta name="description" content="">




<body screen_capture_injected="true" huaban_screen_capture_injected="true">

<div id="Wrapper">
    <div class="content">


       {% block body %}
       {% endblock %}
    </div>
    <div class="c"></div>
    <div class="sep20"></div>
</div>
<div id="Bottom">
    <div class="content">
        <div class="inner">

            <div class="sep20"></div>
            Vzi.us
            <div class="sep20"></div>
            Visual Desgined by V2EX creater @Livid.Thanks him .Vzi copy that directly ,sorry!
            <div class="sep20"></div>
            <span class="small fade"> Ideas do not bleed. They do not feel pain.</span>
           
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
function show_weibo(url,title,pic){
  var _w = 142 , _h = 66;
  var param = {
    url:url,
    type:'4',
    count:'1', /**是否显示分享数，1显示(可选)*/
    appkey:'', /**您申请的应用appkey,显示分享来源(可选)*/
    title:title,
    pic:pic,
    ralateUid:'', /**关联用户的UID，分享微博会@该用户(可选)*/
    language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
    rnd:new Date().valueOf()
  }
  var temp = [];
  for( var p in param ){
    temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
  }
  window.open('http://service.weibo.com/share/share.php?' + temp.join('&'),'_blank', 'width=550,height=370');
}
</script>
<style type="text/css">
        a{font-size: 12px;}
        p{font-size: 13px;}
        #lines .cell{
            hover:background-color:gray;
        }
        .search{width: 600px;}

    </style>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35224957-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body></html>