
<html lang="zh-CN"><head>
    <meta charset="UTF-8">
    <meta content="True" name="HandheldFriendly">
    <title>V2EX</title>
    <link rel="stylesheet" type="text/css" media="screen" href="http://v2ex.com/css/shared.css?v=3.0.5">
    <link rel="stylesheet" type="text/css" media="screen" href="http://v2ex.com/css/desktop.css?v=3.0.5">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="http://v2ex.com/static/img/apple-touch-icon.png">
    <script src="http://s2.cdnplanet.com/static/rum/rum.js" async></script><script type="text/javascript" async src="http://www.google-analytics.com/ga.js"></script><script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="http://v2ex.com/static/js/v2ex.js?v=3.0.5" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
    <meta name="description" content="">

    <link rel="canonical" href="http://www.v2ex.com/">


<body screen_capture_injected="true" huaban_screen_capture_injected="true">

<div id="Wrapper">
    <div class="content">


       {% block body %}
       {% endblock %}
    </div>
    <div class="c"></div>
    <div class="sep20"></div>
</div>
<div id="Bottom">
    <div class="content">
        <div class="inner">

            <div class="sep20"></div>
            Vzi.us
            <div class="sep20"></div>
            <span class="small fade"> We Love Quote the heart words!</span>
           
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
function show_weibo(url,title,pic){
  var _w = 142 , _h = 66;
  var param = {
    url:url,
    type:'4',
    count:'1', /**是否显示分享数，1显示(可选)*/
    appkey:'', /**您申请的应用appkey,显示分享来源(可选)*/
    title:title,
    pic:pic,
    ralateUid:'', /**关联用户的UID，分享微博会@该用户(可选)*/
    language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
    rnd:new Date().valueOf()
  }
  var temp = [];
  for( var p in param ){
    temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
  }
  window.open('http://service.weibo.com/share/share.php?' + temp.join('&'),'_blank', 'width=550,height=370');
}
</script>
<style type="text/css">
        a{font-size: 12px;}
        p{font-size: 13px;}
        #lines .cell{
            hover:background-color:gray;
        }
        .search{width: 600px;}

    </style>
</body></html>