
<html lang="zh-CN"><head>
    <meta charset="UTF-8">
    <meta content="True" name="HandheldFriendly">
    <title>V2EX</title>
    <link rel="stylesheet" type="text/css" media="screen" href="http://v2ex.com/css/shared.css?v=3.0.5">
    <link rel="stylesheet" type="text/css" media="screen" href="http://v2ex.com/css/desktop.css?v=3.0.5">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="http://v2ex.com/static/img/apple-touch-icon.png">
    <script src="http://s2.cdnplanet.com/static/rum/rum.js" async></script><script type="text/javascript" async src="http://www.google-analytics.com/ga.js"></script><script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="http://v2ex.com/static/js/v2ex.js?v=3.0.5" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
    <meta name="description" content="">

    <link rel="canonical" href="http://www.v2ex.com/">


<body screen_capture_injected="true" huaban_screen_capture_injected="true">


<div id="Wrapper">
    <div class="sep20"></div>    <div class="sep20"></div>    <div class="sep20"></div>

    <div class="sep20"></div>    <div class="sep20"></div>    <div class="sep20"></div>


    <div class="content">

        <div id="Leftbar"></div>
        <div id="Rightbar">








            <div class="sep20"></div>


            <div class="box" id="TopicsHot">
                <div class="cell"><span class="fade">登录</span></div>

                <div class="cell from_16074">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody><tr>
                            <td width="24" valign="middle" align="center">
                                <a href="{{weibo_url}}"><img src="http://www.sinaimg.cn/blog/developer/wiki/LOGO_32x32.png" class="avatar" border="0" align="default" auto=""></a>
                            </td>
                            <td width="10"></td>
                            <td width="24" valign="middle" align="center">
                                <a href="/member/pieces"><img src="http://img3.douban.com/pics/douban-icons/favicon_32x32.png" class="avatar" border="0" align="default" auto=""></a>
                            </td>
                            <td width="10"></td>
                            <td width="24" valign="middle" align="center">
                                <a href="/member/pieces"><img src="http://mat1.gtimg.com/app/opent/images/wiki/resource/weiboicon32.png" class="avatar" border="0" align="default" auto=""></a>
                            </td>
                            <td width="10"></td>

                        </tr>
                        </tbody></table>
                </div>












            </div>
            <div class="sep20"></div>



        </div>
        <div id="Main">
            <div class="sep20"></div>

            <div class="box">
                <div class="cell item" style="">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" >
                        <tbody><tr>

                            <td width="100" height="150px" valign="top" align="center"><a href="/member/key4ever"><img src="http://img3.douban.com/mpic/s1884078.jpg" class="avatar" border="0" align="default" auto=""></a></td>
                            <td width="10"></td>

                            <td width="auto" valign="top">



                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tbody><tr>

                                        <td width="10" valign="top"></td>
                                        <td width="auto" valign="top" align="left">
                                            <div class="sep3"></div>

                                            <div class="reply_content">
                                                <p>&ldquo;Beneath this mask there is more than flesh. There is an idea, and ideas are bulletproof.&rdquo;</p>
                                                <p> &ldquo;在这副装备下面的不仅仅是一个肉体，这是一个思想，刀枪不入！&rdquo;</p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody></table>









                            </td>

                        </tr>
                        </tbody></table>
                </div>
            </div>




        </div>

    </div>
    <div class="c"></div>
    <div class="sep20"></div>
    <div class="sep20"></div><div class="sep20"></div><div class="sep20"></div><div class="sep20"></div><div class="sep20"></div>
</div>

<div id="Bottom">
    <div class="content">
        <div class="inner">

            <div class="sep20"></div>
            Vzi.us
            <div class="sep20"></div>
            <span class="small fade">♥ Do have a faith in what you're doing.</span>
            <div class="sep10"></div>
        </div>
    </div>
</div>



</body></html>