
<html lang="zh-CN"><head>
    <meta charset="UTF-8">
    <meta content="True" name="HandheldFriendly">
    <title>V2EX</title>
    <link rel="stylesheet" type="text/css" media="screen" href="http://v2ex.com/css/shared.css?v=3.0.5">
    <link rel="stylesheet" type="text/css" media="screen" href="http://v2ex.com/css/desktop.css?v=3.0.5">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="http://v2ex.com/static/img/apple-touch-icon.png">
    <script src="http://s2.cdnplanet.com/static/rum/rum.js" async></script><script type="text/javascript" async src="http://www.google-analytics.com/ga.js"></script><script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="http://v2ex.com/static/js/v2ex.js?v=3.0.5" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
    <meta name="description" content="">

    <link rel="canonical" href="http://www.v2ex.com/">


<body screen_capture_injected="true" huaban_screen_capture_injected="true">

<div id="Wrapper">
    <div class="content">

        <div id="Leftbar"></div>
        <div id="Rightbar">










            <div class="sep20"></div>


            <div class="box" id="TopicsHot">
                <div class="cell"><span class="fade">本日热议主题</span></div>

                <div class="cell from_16074">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody><tr>
                            <td width="24" valign="middle" align="center">
                                <a href="/member/pieces"><img src="http://tb.v2ex.com/avatar/1d18/c59d/16074_mini.png?m=1336028818" class="avatar" border="0" align="default" auto=""></a>
                            </td>
                            <td width="10"></td>
                            <td width="auto" valign="middle">
                <span class="item_hot_topic_title">
                <a href="/t/46961">有没有比wordpress更容易上手的博客系统</a>
                </span>
                            </td>
                        </tr>
                        </tbody></table>
                </div>

                <div class="cell from_19647">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody><tr>
                            <td width="24" valign="middle" align="center">
                                <a href="/member/aloha007"><img src="http://tb.v2ex.com/avatar/a93c/7100/19647_mini.png?m=1335129276" class="avatar" border="0" align="default" auto=""></a>
                            </td>
                            <td width="10"></td>
                            <td width="auto" valign="middle">
                <span class="item_hot_topic_title">
                <a href="/t/47012">关于iPhone 6的一些说明</a>
                </span>
                            </td>
                        </tr>
                        </tbody></table>
                </div>

                <div class="cell from_20464">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody><tr>
                            <td width="24" valign="middle" align="center">
                                <a href="/member/regent"><img src="http://tb.v2ex.com/avatar/d2e2/2de3/20464_mini.png?m=1344483474" class="avatar" border="0" align="default" auto=""></a>
                            </td>
                            <td width="10"></td>
                            <td width="auto" valign="middle">
                <span class="item_hot_topic_title">
                <a href="/t/47009">你们对诺基亚的新手机有什么感想？</a>
                </span>
                            </td>
                        </tr>
                        </tbody></table>
                </div>


                <div class="cell from_20464">
                    <form>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tbody><tr>
                                <td>
                                    <textarea style="margin: 2px;height: 114px;width: 253px;"></textarea>
                                    <div class="sep5"></div>
                                    <input type="submit" value="回复" class="super normal button" style="float:right;">
                                </td>     </td>

                            </tbody></table>

                    </form>
                </div>










                <script type="text/javascript">
                    blocked = [];
                    $("#TopicsHot").children('.cell').each( function(index) {
                        for (i in blocked) {
                            if ($(this).hasClass('from_' + blocked[i])) {
                                $(this).css('display', 'none');
                            }
                        }
                    });
                </script>

            </div>
            <div class="sep20"></div>



        </div>
        <div id="Main">
            <div class="sep20"></div>

            <div class="box">
                <div class="cell item" style="">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%" >
                        <tbody><tr>

                            <td width="100" height="150px" valign="top" align="center"><a href="/member/key4ever"><img src="http://img3.douban.com/mpic/s1884078.jpg" class="avatar" border="0" align="default" auto=""></a></td>
                            <td width="10"></td>

                            <td width="auto" valign="top"><span class="item_title"><a href="/t/45333#reply22">V字仇杀队</a></span>
                                <div class="sep5"></div>
                                <p>
                                    未来的英国社会处于极权统治的高压下，不能容许同性恋者、异教徒等社会角色的存在，人民在黑暗政权下苟延残喘。<br>
                                    这晚，年轻女子艾薇（娜塔丽·波特曼 Natalie Portman饰）身陷险境，幸得V（雨果·维文 Hugo Weaving饰）相助。V是一个永远带着面具的神秘男子，拥有高智商和超凡战斗力。V继承了前革命英雄的使命，为了推翻荒唐极权的统治阶层，他成立了神秘的地下组织，摧毁了伦敦的标志性建筑，点燃了反政府的熊熊烈火。<br>
                                    艾薇和V深入接触，不仅得知了V的神秘使命，还渐渐发现原来自己的身世，注定了自己和V是同一条阵线的人。</p>


                            </td>

                        </tr>
                        </tbody></table>
                </div>
            </div>

            <div class="sep20"></div>
            <div class="box">
                <div class="cell">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tbody><tr>
                            <td width="48" valign="top" align="center"><img src="http://tb.v2ex.com/avatar/0201/3105/14784_normal.png?m=1342162537" class="avatar" border="0" align="default" auto=""></td>
                            <td width="10" valign="top"></td>
                            <td width="auto" valign="top" align="left">
                                <div class="sep3"></div>
                                <strong><a href="/member/luin" class="dark">luin</a></strong>&nbsp; &nbsp;<span class="fade small">5 小时前</span>  &nbsp; <span class="small fade">♥ 1</span>
                                <div class="sep5"></div>
                                <div class="reply_content">画的好漂亮！用啥画的。。</div>
                            </td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
            <div class="sep20"></div>
            <div class="box">
                <div class="cell"><div class="fr"><a href="#"><strong>↑</strong> 回到顶部</a></div>
                    添加一条新回复
                </div>
                <div class="cell"><form method="post" action="/t/47050">
                    <textarea name="content" maxlength="10000" class="mll" id="reply_content"></textarea>
                    <div class="sep10"></div>
                    <div class="fr"><div class="sep5"></div></div>
                    <input type="submit" value="回复" class="super normal button"></form>
                </div>
                <div class="inner">
                    <div class="fr"><a href="/">← V2EX</a></div>
                    &nbsp;
                </div>
            </div>



        </div>

    </div>
    <div class="c"></div>
    <div class="sep20"></div>
</div>
<div id="Bottom">
    <div class="content">
        <div class="inner">
            <div class="sep10"></div>
            <div class="fr">
                <a href="http://www.linode.com/?r=af313ea8a6bb6f99aff800c67349cabbfee2682f" target="_blank"><img src="/static/img/linode.png" border="0" alt="Linode" width="120"></a><!-- &nbsp; &nbsp; &nbsp; <a href="https://www.upyun.com/?utm_source=upyun-v2ex&utm_medium=ad&utm_campaign=upyun&md=upyun-v2ex" target="_blank"><img src="/static/img/upyun.jpg" border="0" alt="UpYun" width="120" /></a>-->
            </div>
            <strong><a href="/about" class="dark">关于</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/faq" class="dark">FAQ</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/mission" class="dark">我们的愿景</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/advertise" class="dark">广告投放</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="http://workspace.v2ex.com/" target="_blank" class="dark">工作空间</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/gadgetlab" class="dark">Gadget Lab</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="http://livid.v2ex.com/" target="_blank" class="dark">博客</a> &nbsp; <span class="snow">·</span> &nbsp; <a href="/start" class="dark">上网首页</a> &nbsp; <span class="snow">·</span> &nbsp; 269 人在线</strong> &nbsp; <span class="fade">最高记录 362</span>
            <div class="sep20"></div>
            创意工作者们的社区
            <div class="sep5"></div>
            Lovingly made by <strong><a href="http://www.olivida.com/" class="dark" target="_blank">OLIVIDA</a></strong>
            <div class="sep20"></div>
            <span class="small fade">VERSION: 3.0.0-dev · UTC 04:51 · PVG 12:51 · JFK 00:51 · LAX 21:51<br>♥ Do have a faith in what you're doing.</span>
            <div class="sep10"></div>
        </div>
    </div>
</div>



</body></html>